@import "normalize.css";
@import "estilo.css";

/**  * Variables.  */
:root {
    --large-breakpoint: 64em;
    --medium-breakpoint: 42em;

    --header-heading-color: #fff;
    --header-bg-color: #ebebeb;
    --header-bg-color-secondary: #005883;

    --section-headings-color: #159957;
    --body-text-color: #606c71;
    --body-link-color: #1e6bb8;
    --blockquote-text-color: #819198;

    --code-bg-color: #f3f6fa;
    --code-text-color: #567482;

    --border-color: #dce6f0;
    --table-border-color: #e9ebec;
    --hr-border-color: #eff0f1;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-text-color)
}

a {
    color: var(--body-link-color);
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
     color: rgba(255, 255, 255, 0.8);
     text-decoration: none;
     background-color: rgba(255, 255, 255, 0.2);
     border-color: rgba(255, 255, 255, 0.3);
 }

+ .btn {
    margin-left: 1rem;
}

.page-header {
    color: var(--header-heading-color);
    text-align: center;
    background-color: var(--header-bg-color);
    height: 100px;

}
.page-header img,.page-header nav {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}

.main-content {
    word-wrap: break-word;
    min-height: 300px;
}
.main-content:first-child {
    margin-top: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: var(--section-headings-color);
}

p {
    margin-bottom: 1em;
}

code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: var(--code-text-color);
    background-color: var(--code-bg-color);
    border-radius: 0.3rem;
}

pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: var(--code-text-color);
    word-wrap: normal;
    background-color: var(--code-bg-color);
    border: solid 1px var(--border-color);
    border-radius: 0.3rem;
}
> code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: var(--code-text-color);
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;

}

.highlight {
    margin-bottom: 1rem;
}

footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px var(--hr-border-color);
    background-color: var(--header-bg-color-secondary);
    height: 125px;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {
    color: var(--blockquote-text-color);
}


/* Clearfix */
.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
}

nav {
    display:block;
    height: 40px;
    background: transparent;
    position: relative;
    padding-left: 10px;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #f47920;
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 40px;
}

nav li a {
    border-right: 1px solid #005883;
    font-weight:600;
    text-decoration:none;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #f47920;
    color: #FFF;
}