@import "normalize.css";

/**  * VARIABLES  */

:root {
    --color-azul: #005883;
    --color-gris: #ebebeb;
    --color-naranja: #f47920;
    --color-amarillo: #F0B429;
    --color-verde: #50B748;
    --color-violeta: #A54686;

    --color-texto: #333333;
    --color-url: #43C7F4;

    --color-code-bg: #f3f6fa;
    --color-code-text: #567482;
    --color-code-border: #dce6f0;
}

/* ENCABEZADO */

.page-header {
    color: var(--color-naranja);
    text-align: center;
    background-color: var(--color-gris);
    height: 100px;

}
.page-header img,.page-header nav {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}

/* CUERPO */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-texto)
}

a {
    color: var(--color-url);
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn:hover {
     color: rgba(255, 255, 255, 0.8);
     text-decoration: none;
     background-color: rgba(255, 255, 255, 0.2);
     border-color: rgba(255, 255, 255, 0.3);
 }

+ .btn {
    margin-left: 1rem;
}

div#contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

div#contenedor section {
    float: left;
    width: 73%;
}

div#contenedor aside {
    float: left;
    width: 25%;
    height: auto;
    margin-left: 2%;
    margin-top: 15px;
}

article {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: var(--color-azul);
}

code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: var(--color-code-text);
    background-color: var(--color-code-bg);
    border-radius: 0.3rem;
}

pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: var(--color-code-text);
    word-wrap: normal;
    background-color: var(--color-code-bg);
    border: solid 1px var(--color-code-border);
    border-radius: 0.3rem;
}
> code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-code-text);
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;

}

.highlight {
    margin-bottom: 1rem;
}

/* PIE DE PAGINA */

footer {
    padding-top: 0;
    margin-top: 0;
    background-color: var(--color-azul);
    height: 160px;
    align-items: center;
}

div#footer{
    max-width: auto;
}

div#creditos {
    float: left;
    width: 70%;
    font-size: 14px;
    color: var(--color-naranja);
    font-weight: bold;
    margin: 4px;
    padding-left: 15px;
}

div#contador {
    float: left;
    width: 25%;
    height: 160px;
    font-size: 14px;
    color: var(--color-naranja);
    font-weight: bold;
    margin-right: 20px;
    text-align: right;
}

/* MENU */

/* Clearfix */
.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
}

nav {
    display:block;
    height: 40px;
    background: transparent;
    position: relative;
    padding-left: 10px;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: var(--color-naranja);
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 40px;
}

nav li a {
    border-right: 1px solid #005883;
    font-weight:600;
    text-decoration:none;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: var(--color-naranja);
    color: #FFF;
}
